$title
Title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-SVP                                                           \
   jbas  =o def2-SVP
h  2-3                                                                         \
   basis =h def2-SVP                                                           \
   jbas  =h def2-SVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-5                                    ( 2 )
$scfiterlimit       60
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$dft
   functional b3-lyp
   gridsize   m3
$scfconv   7
$rundimensions
   natoms=3
   nbf(CAO)=25
   nbf(AO)=24
$last step     ridft
$last SCF energy change = -.25669263E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00000000000001    y     0.00000000000059    z    -0.78791664168780    a.u.
   | dipole | =    2.0026994785  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.53069319935110E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-76.32126435001    -122.9578733256     45.05457176454    -7.122124864166    -.4021944315484     9.106356506727
$end
